.cover__link {
    color: inherit;
    text-decoration: none;
    display: block;
    background-image: url(../../../images/background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.cover__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(42, 44, 47, .3);
    transition: background-color .1s linear;
}

.cover__link:hover::before {
    background-color: rgba(42, 44, 47, .8);
}