.place__title {
    margin: 0;
    padding: 0;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.06;
    grid-column: span 1;
    grid-row: span 1;
    align-self: end;
    max-width: 460px;
    outline: 1px solid red;
}



@media screen and (max-width: 1023px) {
    .place__title {
        margin-left: 0;
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        align-self: start;
        margin: 0 16px;
        width: 100%;
    }
}