@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url('../../fonts/_inter/Inter-Regular.woff')
       url('../../fonts/_inter/Inter-Regular.woff2');

}

@font-face {
  font-family: 'Inter';
  font-style:  bold;
  font-weight: 900;
  src: url('../../fonts/_inter/Inter-Black.woff')
       url('../../fonts/_inter/Inter-Black.woff2');
}



.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
