@import url('./__item/photo-grid__item.css');

.photo-grid {
  max-width: calc(100% - 96px);
  margin: 92px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1024px) and (min-width: 786px) {
  .photo-grid {
    max-width: calc(100% - 96px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (max-width: 786px) and (min-width: 320px) {
  .photo-grid {
    max-width: calc(100% - 48px);
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}
