@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__list/_term/intro__list_term.css');


.intro {
  margin: 92px auto 0;
  max-width: 984px;
}

@media screen and (max-width: 1280px) and (min-width: 1024px) {
  .intro {
    margin: 92px auto 0;
    max-width: 984px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 786px) {
  .intro {
    margin: 88px auto 0;
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 786px) and (min-height: 320px) {
  .intro {
    margin: 64px 16px 0;
  }
}
