.place__image {
    grid-column: span 1;
    grid-row: 2/ span 1;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 340px;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        /* align-self: center; */
        max-width: 100%;
    }
}