.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    max-width: 370px;
    margin: 32px auto 0;
    padding: 0;
    text-align: center;
    position: relative;
    align-self: center;
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        margin-top: 16px;
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
}