.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    width: 360px;
    margin: 32px auto;
    padding: 0 0 245px;
    text-align: center;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 1080px) {
    .cover__subtitle {
        padding-bottom: 195px;
    }
}