@import url('./__lang/header__lang.css'); /*В папке __lang высвечивается ошибка, но в файле её нет, видимо сбой*/
@import url('./__lang-link/header__lang-link.css');
@import url('./__lang-link/_active/header__lang-link_active.css');
@import url('./__lang-item/header__lang-item.css');

.header {
  margin: 28px auto 0;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
    .header {
      margin-top: 16px;
      max-width: calc(100% - 48px);
    }
  }

  @media screen and (max-width: 320px) {
    .header {
      max-width: 288px;
    }
  }
