.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto;
    font-weight: bod;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  }
}
