.intro__text {
  margin: 40px 0 32px 0;
  font-size: 16px;
  line-height: 26px;
  max-width: 690px;
  text-align: left;
}

@media screen and (max-width: 1024px) and (min-width: 786px) {
  .intro__text {
    margin: 40px 0 32px 0;
    font-size: 16px;
    line-height: 26px;
    max-width: 720px;
    text-align: left;
  }
}

@media screen and (max-width: 786px) and (min-height: 320px) {
  .intro__text {
    margin: 40px 0 32px 0;
    font-size: 16px;
    line-height: 26px;
  }
}
