@font-face {
  src: url('../../fonts/_inter/Inter-Font.ttf');
  font-family: 'Inter';
}

@font-face {
  src: url('../../fonts/_inter/Inter-Bold.ttf');
  font-family: 'Inter';
  font-weight: bold;
}



.page {
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: white;
}
