.cover {
    background-image: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% - 48px*2);
    margin: 0 auto;
    padding: 92 0 0;
    position: relative;
}

@media screen and (max-width: 1080px) {
    .cover {
        width: 100%;
    }
}