.root {
  max-width: 1280px;
  margin: 0 auto;
  outline: 1px solid red;
}

/*В браузере chrome на win10 в девтулзах центрирование при сжатии ведет себя странно.
Если сжимать окно самого браузера, то нормально, в мозиле все хорошо.
Не понимаю почему так (( для этого оставил аутлайн*/

