.cover__overlay {
  text-decoration: none;
  background-image: url('../../../images/cover/__background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover__overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  min-height: 740px;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__overlay:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-width: 1024px;
    min-height: 640px;
  }

  .cover__overlay::after {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    margin: 88px auto;
    max-width: 768px;
    min-height: 480px;
  }

  .cover__overlay::after {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    margin: 32px auto;
    max-width: 320px;
    min-height: 200px;
  }

  .cover__overlay::after {
    min-height: 200px;
  }
}
