.place__paragraph_space {
  padding: 0px;
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 1.7;
}

@media screen and (max-width: 1024px) {
  .place__paragraph_space {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph_space {
    max-width: 100%;
  }
}
