.cover__title {
  font-size: 72px;
  line-height: 1.06;
  font-weight: bold;
  text-align: center;
  max-width: 560px;
  margin: 0 auto 32px;
  position: relative;
  z-index: 1;
  color: white;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
    margin: 0 auto 16px;
  }
}
