.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 40px)/2), min-content);
    column-gap: 40px;
    row-gap: 48px;
    padding: 0 0 80px;
}

.place:last-of-type {
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        padding-bottom: 73px;
    }
}

/* TODO check *584*/
@media screen and (max-width: 768px) {
    .place {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: flex-start;
        padding-bottom: 50px;
    }
}