.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    column-gap: 40px;
    row-gap: 48px;
    padding: 0 0 80px;
}

.place:last-of-type {
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .place {
        column-gap: 20px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        padding-bottom: 71px;
    }

    .place:first-of-type .place__title {
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 50px;
    }

    .place:first-of-type .place__title {
        width: 100%;
    }
}