.intro__title {
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  margin: 0;
  max-width: 690px;
  text-align: left;
}

@media screen and (max-width: 786px) and (min-height: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.1;
  }
}
